In [1]:
import pandas as pd
import numpy as np

# Preprocess

In [2]:
features = pd.read_csv('features.csv')
train_df = pd.read_csv('train.csv')

In [3]:
print(train_df.info())
print(train_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [5]:
print(train_df.info())
print(train_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null datetime64[ns]
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB
None
   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

In [6]:
print(train_df.describe())

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

## Feature

In [7]:
print(features.info())
print(features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB
None
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  2010-02-05        42.31       2.572        NaN        NaN
1      1  2010-02-12        38.51       2.548        NaN        NaN
2      1  2010-02-19        39.93       2.514        NaN        NaN
3      1  2010-02-26        46.63       2.561        NaN        NaN
4      1  2010-03-05        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False

In [8]:
features['Date'] = pd.to_datetime(features['Date'])
features = features.drop(columns=['IsHoliday'])
print(features.info())
print(features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 11 columns):
Store           8190 non-null int64
Date            8190 non-null datetime64[ns]
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 703.9 KB
None
   Store       Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
0      1 2010-02-05        42.31       2.572        NaN        NaN        NaN
1      1 2010-02-12        38.51       2.548        NaN        NaN        NaN
2      1 2010-02-19        39.93       2.514        NaN        NaN        NaN
3      1 2010-02-26        46.63       2.561        NaN        NaN        NaN
4      1 2010-03-05        46.50       2.625        NaN        NaN        NaN

   MarkDown4  MarkDown5         CPI  Unemployment
0        NaN        NaN  211.096358         8.106
1        NaN        NaN  211.242170         8.106
2        NaN        NaN  211.289143         8.106
3        NaN        NaN  211.319643         8.106
4        NaN        NaN  211.350143         8.106

In [9]:
print(features.describe())

             Store  Temperature   Fuel_Price      MarkDown1      MarkDown2  \
count  8190.000000  8190.000000  8190.000000    4032.000000    2921.000000
mean     23.000000    59.356198     3.405992    7032.371786    3384.176594
std      12.987966    18.678607     0.431337    9262.747448    8793.583016
min       1.000000    -7.290000     2.472000   -2781.450000    -265.760000
25%      12.000000    45.902500     3.041000    1577.532500      68.880000
50%      23.000000    60.710000     3.513000    4743.580000     364.570000
75%      34.000000    73.880000     3.743000    8923.310000    2153.350000
max      45.000000   101.950000     4.468000  103184.980000  104519.540000

           MarkDown3     MarkDown4      MarkDown5          CPI  Unemployment
count    3613.000000   3464.000000    4050.000000  7605.000000   7605.000000
mean     1760.100180   3292.935886    4132.216422   172.460809      7.826821
std     11276.462208   6792.329861   13086.690278    39.738346      1.877259
min      -179.260000      0.220000    -185.170000   126.064000      3.684000
25%         6.600000    304.687500    1440.827500   132.364839      6.634000
50%        36.260000   1176.425000    2727.135000   182.764003      7.806000
75%       163.150000   3310.007500    4832.555000   213.932412      8.567000
max    149483.310000  67474.850000  771448.100000   228.976456     14.313000

In [10]:
train_merged = train_df.merge(features[['Store','Date','Fuel_Price','Temperature']],on=['Store','Date'])

print(train_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 7 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null datetime64[ns]
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
Fuel_Price      421570 non-null float64
Temperature     421570 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2)
memory usage: 22.9 MB
None

In [11]:
train_df['Week'] = pd.to_datetime(train_df['Date']).dt.week
train_df=train_df.drop(columns=['Date'])

# train_df = train_df.merge(features[['Store','Date','MarkDown4']],on=['Store','Date'])

# y = train_df['Weekly_Sales'].values
# X = train_df.drop(columns=['Weekly_Sales']).values

In [12]:
print(train_df.info())

y = train_df[['Store','Dept','Weekly_Sales']]
X = train_df.drop(columns=['Weekly_Sales'])

y = {key:value['Weekly_Sales'].values for key,value in y.groupby(['Store','Dept'])}
X = {key:value['Week'].values for key,value in X.groupby(['Store','Dept'])}

print(y[(1,1)])
print(X[(1,1)])

y_miss = train_df[['Store','Dept','Weekly_Sales']]
X_miss = train_df.drop(columns=['Weekly_Sales'])

y_miss = {key:value['Weekly_Sales'].values for key,value in y_miss.groupby(['Store'])}
X_miss = {key:value['Week'].values for key,value in X_miss.groupby(['Store'])}

# for i, j in train_df.groupby(['Store','Dept']):

# t_df = {i:{j:y for j,y in x.groupby(x['Dept'])} for i, x in train_df.groupby(train_df['Store'])}

# X_train = dict()
# y_train = dict() 
# X_test = dict()
# y_test = dict()

# from sklearn.model_selection import train_test_split
# for dfs in t_df.keys():
#     X_train[dfs] = dict()
#     X_test[dfs] = dict()
#     y_train[dfs] = dict()
#     y_test[dfs] = dict()
#     for df in t_df[dfs].keys():
#         y = t_df[dfs][df]['Weekly_Sales'].values
#         X = t_df[dfs][df].drop(columns=['Weekly_Sales']).values
# #         if(len(X)<=1):
# #             X_train[dfs][df] = X
# #             y_train[dfs][df] = y
# #             X_test = np.array([])
# #             y_test = np.array([])
# #         else:
#         X_train[dfs][df], X_test[dfs][df], y_train[dfs][df], y_test[dfs][df] = train_test_split(X, y, train_size=0.9, random_state=42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
Week            421570 non-null int64
dtypes: bool(1), float64(1), int64(3)
memory usage: 13.3 MB
None
[24924.5  46039.49 41595.55 19403.54 21827.9  21043.39 22136.64 26229.21
 57258.43 42960.91 17596.96 16145.35 16555.11 17413.94 18926.74 14773.04
 15580.43 17558.09 16637.62 16216.27 16328.72 16333.14 17688.76 17150.84
 15360.45 15381.82 17508.41 15536.4  15740.13 15793.87 16241.78 18194.74
 19354.23 18122.52 20094.19 23388.03 26978.34 25543.04 38640.93 34238.88
 19549.39 19552.84 18820.29 22517.56 31497.65 44912.86 55931.23 19124.58
 15984.24 17359.7  17341.47 18461.18 21665.76 37887.17 46845.87 19363.83
 20327.61 21280.4  20334.23 20881.1  20398.09 23873.79 28762.37 50510.31
 41512.39 20138.19 17235.15 15136.78 15741.6  16434.15 15883.52 14978.09
 15682.81 15363.5  16148.87 15654.85 15766.6  15922.41 15295.55 14539.79
 14689.24 14537.37 15277.27 17746.68 18535.48 17859.3  18337.68 20797.58
 23077.55 23351.8  31579.9  39886.06 18689.54 19050.66 20911.25 25293.49
 33305.92 45773.03 46788.75 23350.88 16567.69 16894.4  18365.1  18378.16
 23510.49 36988.49 54060.1  20124.22 20113.03 21140.07 22366.88 22107.7
 28952.86 57592.12 34684.21 16976.19 16347.6  17147.44 18164.2  18517.79
 16963.55 16065.49 17666.   17558.82 16633.41 15722.82 17823.37 16566.18
 16348.06 15731.18 16628.31 16119.92 17330.7  16286.4  16680.24 18322.37
 19616.22 19251.5  18947.81 21904.47 22764.01 24185.27 27390.81]
[ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52
  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43]

In [13]:

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# test_MAE_weight = [5 if x[3] else 1 for x in X_test]

## test data

In [14]:
test_df = pd.read_csv('test.csv')
test_df['Date'] = pd.to_datetime(test_df['Date'])
test_df['Week'] = pd.to_datetime(test_df['Date']).dt.week
# test_df=test_df.drop(columns=['Date'])
x_submission = test_df
# print(test_df[['Date','Week']])
print(test_df)
sample_sub = pd.read_csv('sampleSubmission.csv')

        Store  Dept       Date  IsHoliday  Week
0           1     1 2012-11-02      False    44
1           1     1 2012-11-09      False    45
2           1     1 2012-11-16      False    46
3           1     1 2012-11-23       True    47
4           1     1 2012-11-30      False    48
5           1     1 2012-12-07      False    49
6           1     1 2012-12-14      False    50
7           1     1 2012-12-21      False    51
8           1     1 2012-12-28       True    52
9           1     1 2013-01-04      False     1
10          1     1 2013-01-11      False     2
11          1     1 2013-01-18      False     3
12          1     1 2013-01-25      False     4
13          1     1 2013-02-01      False     5
14          1     1 2013-02-08       True     6
15          1     1 2013-02-15      False     7
16          1     1 2013-02-22      False     8
17          1     1 2013-03-01      False     9
18          1     1 2013-03-08      False    10
19          1     1 2013-03-15      False    11
20          1     1 2013-03-22      False    12
21          1     1 2013-03-29      False    13
22          1     1 2013-04-05      False    14
23          1     1 2013-04-12      False    15
24          1     1 2013-04-19      False    16
25          1     1 2013-04-26      False    17
26          1     1 2013-05-03      False    18
27          1     1 2013-05-10      False    19
28          1     1 2013-05-17      False    20
29          1     1 2013-05-24      False    21
...       ...   ...        ...        ...   ...
115034     45    98 2013-01-04      False     1
115035     45    98 2013-01-11      False     2
115036     45    98 2013-01-18      False     3
115037     45    98 2013-01-25      False     4
115038     45    98 2013-02-01      False     5
115039     45    98 2013-02-08       True     6
115040     45    98 2013-02-15      False     7
115041     45    98 2013-02-22      False     8
115042     45    98 2013-03-01      False     9
115043     45    98 2013-03-08      False    10
115044     45    98 2013-03-15      False    11
115045     45    98 2013-03-22      False    12
115046     45    98 2013-03-29      False    13
115047     45    98 2013-04-05      False    14
115048     45    98 2013-04-12      False    15
115049     45    98 2013-04-19      False    16
115050     45    98 2013-04-26      False    17
115051     45    98 2013-05-03      False    18
115052     45    98 2013-05-10      False    19
115053     45    98 2013-05-17      False    20
115054     45    98 2013-05-24      False    21
115055     45    98 2013-05-31      False    22
115056     45    98 2013-06-07      False    23
115057     45    98 2013-06-14      False    24
115058     45    98 2013-06-21      False    25
115059     45    98 2013-06-28      False    26
115060     45    98 2013-07-05      False    27
115061     45    98 2013-07-12      False    28
115062     45    98 2013-07-19      False    29
115063     45    98 2013-07-26      False    30

[115064 rows x 5 columns]

# Linear

In [15]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [16]:
linear_reg = dict()
for key1,key2 in X:
    linear_reg[(key1,key2)] = LinearRegression()
    linear_reg[(key1,key2)].fit(X[(key1,key2)].reshape(-1, 1),y[(key1,key2)])
for key in X_miss:
    linear_reg[(key,0)] = LinearRegression()
    linear_reg[(key,0)].fit(X_miss[key].reshape(-1, 1),y_miss[key])

/usr/local/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

In [17]:
print(linear_reg[(1,1)].predict(44))

[22612.47066578]

In [18]:
y = x_submission.apply(lambda x: linear_reg[(x['Store'],x['Dept'])if(x['Store'],x['Dept'])in linear_reg else(x['Store'],0) ].predict(x['Week']),axis=1)
# y = x_submission.apply(lambda x: x[['IsHoliday','Week']],axis=1)

print(y)
# print(x_submission[x_submission['Week']==2])
sample_sub['Weekly_Sales'] = y
sample_sub.to_csv('logistic_submission.csv',columns=['Id','Weekly_Sales'],index=False)

               Store          Dept          Date     IsHoliday          Week
0       22612.470666  22612.470666  22612.470666  22612.470666  22612.470666
1       22617.923791  22617.923791  22617.923791  22617.923791  22617.923791
2       22623.376916  22623.376916  22623.376916  22623.376916  22623.376916
3       22628.830041  22628.830041  22628.830041  22628.830041  22628.830041
4       22634.283166  22634.283166  22634.283166  22634.283166  22634.283166
5       22639.736291  22639.736291  22639.736291  22639.736291  22639.736291
6       22645.189416  22645.189416  22645.189416  22645.189416  22645.189416
7       22650.642541  22650.642541  22650.642541  22650.642541  22650.642541
8       22656.095666  22656.095666  22656.095666  22656.095666  22656.095666
9       22377.986287  22377.986287  22377.986287  22377.986287  22377.986287
10      22383.439412  22383.439412  22383.439412  22383.439412  22383.439412
11      22388.892538  22388.892538  22388.892538  22388.892538  22388.892538
12      22394.345663  22394.345663  22394.345663  22394.345663  22394.345663
13      22399.798788  22399.798788  22399.798788  22399.798788  22399.798788
14      22405.251913  22405.251913  22405.251913  22405.251913  22405.251913
15      22410.705038  22410.705038  22410.705038  22410.705038  22410.705038
16      22416.158163  22416.158163  22416.158163  22416.158163  22416.158163
17      22421.611288  22421.611288  22421.611288  22421.611288  22421.611288
18      22427.064413  22427.064413  22427.064413  22427.064413  22427.064413
19      22432.517538  22432.517538  22432.517538  22432.517538  22432.517538
20      22437.970663  22437.970663  22437.970663  22437.970663  22437.970663
21      22443.423788  22443.423788  22443.423788  22443.423788  22443.423788
22      22448.876913  22448.876913  22448.876913  22448.876913  22448.876913
23      22454.330038  22454.330038  22454.330038  22454.330038  22454.330038
24      22459.783164  22459.783164  22459.783164  22459.783164  22459.783164
25      22465.236289  22465.236289  22465.236289  22465.236289  22465.236289
26      22470.689414  22470.689414  22470.689414  22470.689414  22470.689414
27      22476.142539  22476.142539  22476.142539  22476.142539  22476.142539
28      22481.595664  22481.595664  22481.595664  22481.595664  22481.595664
29      22487.048789  22487.048789  22487.048789  22487.048789  22487.048789
...              ...           ...           ...           ...           ...
115034    557.301083    557.301083    557.301083    557.301083    557.301083
115035    557.459635    557.459635    557.459635    557.459635    557.459635
115036    557.618187    557.618187    557.618187    557.618187    557.618187
115037    557.776738    557.776738    557.776738    557.776738    557.776738
115038    557.935290    557.935290    557.935290    557.935290    557.935290
115039    558.093842    558.093842    558.093842    558.093842    558.093842
115040    558.252393    558.252393    558.252393    558.252393    558.252393
115041    558.410945    558.410945    558.410945    558.410945    558.410945
115042    558.569497    558.569497    558.569497    558.569497    558.569497
115043    558.728048    558.728048    558.728048    558.728048    558.728048
115044    558.886600    558.886600    558.886600    558.886600    558.886600
115045    559.045152    559.045152    559.045152    559.045152    559.045152
115046    559.203703    559.203703    559.203703    559.203703    559.203703
115047    559.362255    559.362255    559.362255    559.362255    559.362255
115048    559.520807    559.520807    559.520807    559.520807    559.520807
115049    559.679358    559.679358    559.679358    559.679358    559.679358
115050    559.837910    559.837910    559.837910    559.837910    559.837910
115051    559.996462    559.996462    559.996462    559.996462    559.996462
115052    560.155013    560.155013    560.155013    560.155013    560.155013
115053    560.313565    560.313565    560.313565    560.313565    560.313565
115054    560.472117    560.472117    560.472117    560.472117    560.472117
115055    560.630668    560.630668    560.630668    560.630668    560.630668
115056    560.789220    560.789220    560.789220    560.789220    560.789220
115057    560.947772    560.947772    560.947772    560.947772    560.947772
115058    561.106323    561.106323    561.106323    561.106323    561.106323
115059    561.264875    561.264875    561.264875    561.264875    561.264875
115060    561.423427    561.423427    561.423427    561.423427    561.423427
115061    561.581978    561.581978    561.581978    561.581978    561.581978
115062    561.740530    561.740530    561.740530    561.740530    561.740530
115063    561.899082    561.899082    561.899082    561.899082    561.899082

[115064 rows x 5 columns]