In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('train.csv')

In [5]:
train_df['Date'] = pd.to_datetime(train_df['Date'])
train_df['Month'] = train_df['Date'].dt.month.astype('category')
train_df['Year'] = train_df['Date'].dt.year.astype('category')

In [6]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 7 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null datetime64[ns]
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
Month           421570 non-null category
Year            421570 non-null category
dtypes: bool(1), category(2), datetime64[ns](1), float64(1), int64(2)
memory usage: 14.1 MB
None

In [9]:
train_df = train_df[['Month','Year','Weekly_Sales']].groupby(['Month','Year']).mean()

In [10]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 36 entries, (1, 2010) to (12, 2012)
Data columns (total 1 columns):
Weekly_Sales    33 non-null float64
dtypes: float64(1)
memory usage: 1.0 KB
None

In [11]:
print(train_df)

            Weekly_Sales
Month Year
1     2010           NaN
      2011  13997.773991
      2012  14252.698030
2     2010  16076.778701
      2011  15870.141203
      2012  16077.647710
3     2010  15432.626612
      2011  15182.972005
      2012  15589.875454
4     2010  15745.551340
      2011  15361.895495
      2012  15890.394983
5     2010  15996.481695
      2011  15367.864481
      2012  15967.389566
6     2010  16486.250953
      2011  16188.124643
      2012  16309.247563
7     2010  15972.812718
      2011  15724.738313
      2012  15893.325343
8     2010  16171.689295
      2011  16030.542478
      2012  16002.348874
9     2010  15120.086691
      2011  14961.570247
      2012  15239.205709
10    2010  14806.151498
      2011  15504.338676
      2012  15525.194141
11    2010  17320.130647
      2011  17659.218122
      2012           NaN
12    2010  19570.351252
      2011  19145.218481
      2012           NaN

In [12]:
df = pd.pivot_table(train_df, values='Weekly_Sales', index='Year', columns='Month')

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 3 entries, 2010 to 2012
Data columns (total 12 columns):
1     2 non-null float64
2     3 non-null float64
3     3 non-null float64
4     3 non-null float64
5     3 non-null float64
6     3 non-null float64
7     3 non-null float64
8     3 non-null float64
9     3 non-null float64
10    3 non-null float64
11    2 non-null float64
12    2 non-null float64
dtypes: float64(12)
memory usage: 395.0 bytes
None

In [14]:
print(df)

Month            1             2             3             4             5   \
Year
2010            NaN  16076.778701  15432.626612  15745.551340  15996.481695
2011   13997.773991  15870.141203  15182.972005  15361.895495  15367.864481
2012   14252.698030  16077.647710  15589.875454  15890.394983  15967.389566

Month            6             7             8             9             10  \
Year
2010   16486.250953  15972.812718  16171.689295  15120.086691  14806.151498
2011   16188.124643  15724.738313  16030.542478  14961.570247  15504.338676
2012   16309.247563  15893.325343  16002.348874  15239.205709  15525.194141

Month            11            12
Year
2010   17320.130647  19570.351252
2011   17659.218122  19145.218481
2012            NaN           NaN

In [15]:
df.to_csv('preprocessed_train.csv')